<!DOCTYPE html>
<html style="
	width:100%;
	height:100%;
	padding:0; 
	margin:0; ">

<head>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
	<title>Layout 01</title>
</head>

{{ get_header() }}

<body style="
	width:100%;
	height:99%;
	padding:0; 
	margin:0; ">


	<div style=" display: block; width:100%; height:100%; text-align: justify; border:0px; padding:0px 0px auto 0px;
	margin:0px; ">

		<div id=" col01" style="
			display:inline-block; 
			vertical-align: top; 
			width:20%; 
			min-height:100%; 
			height: inherit;
			background-color:#FF000020">

			<div id="logo" style="
				display:block; 
				min-width:5cm; 
				min-height: 5cm; 
				background-color: mediumslateblue; 
				overflow:auto;
				margin:0px auto 10px auto;
				">
			{{ render_module( 'logo' ) }}
			</div>
			<div id="menu" style="
				display:block; 
				min-width:5cm; 
				min-height: 5cm; 
				height:5cm;
				background-color: mediumslateblue; 
				overflow:auto;
				margin:0px auto 10px auto;
				">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse metus justo, ullamcorper non urna
				vel,
				viverra accumsan risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
				curae; Nunc dignissim lorem eget condimentum imperdiet. Proin vulputate semper erat. Interdum et
				malesuada
				fames ac ante ipsum primis in faucibus. Aenean vulputate dolor et purus hendrerit commodo. Phasellus
				auctor
				tellus ac condimentum placerat. Sed scelerisque commodo imperdiet. Donec varius lacinia tortor. Interdum
				et
				malesuada fames ac ante ipsum primis in faucibus. Donec volutpat auctor diam, sed sodales magna placerat
				non. Curabitur gravida cursus congue. Vivamus finibus pharetra lacus sit amet gravida. Phasellus at
				laoreet
				risus. Mauris arcu ante, feugiat vehicula lobortis sed, tincidunt vel augue.
			</div>
		</div>
		<div id="col02" style="
			display:inline-block; 
			vertical-align: top; 
			width:57%; 
			height:100%; 
			background-color:#00FF0020;
			padding:5px
			">
			Ut sagittis metus non magna molestie ultricies et et libero. Nulla sit amet sollicitudin lacus. Donec
			rhoncus eu nisi in aliquam. Sed id rhoncus enim, non suscipit est. Maecenas non felis elit. Aenean consequat
			risus nisl, eu tincidunt nibh molestie at. Ut ac efficitur augue. Aenean sed aliquet felis. Interdum et
			malesuada fames ac ante ipsum primis in faucibus. Donec cursus et purus sed ultricies. Quisque pulvinar elit
			vel dui dapibus tincidunt at ac purus. Nunc sed sem pulvinar, commodo magna ut, vestibulum turpis.
		</div>
		<div id="col03"
			style="display:inline-block; vertical-align: top; width:20%; height:100%; background-color:#0000FF20">
			Etiam at convallis nibh. Ut eget pellentesque neque. Lorem ipsum dolor sit amet, consectetur adipiscing
			elit. Nullam lacus libero, tempus in risus non, ultrices ultrices nunc. Morbi pulvinar augue eros, et
			imperdiet mauris finibus a. Vestibulum quis metus eros. Maecenas vel nisi a ipsum eleifend venenatis at
			suscipit leo. Donec convallis libero id maximus dignissim. In sollicitudin mauris metus, in ultricies lacus
			commodo sit amet. Integer auctor neque in tempor imperdiet. Aenean et neque non nibh pretium dignissim vitae
			id dolor. Cras est tellus, dignissim id justo sed, suscipit tristique diam. Vivamus venenatis pretium
			ullamcorper.
		</div>
	</div>

</body>

</html>