<!-- Aqua default Connected -->
<table style="width:100%; height:100% !important; 
		border:0px; padding:0px; margin:0px; border-collapse: collapse; 
		margin-left: auto; margin-right: auto;
							min-height:1280px;
		max-width: 1280px; max-height: 2048px;">
	<tr style="vertical-align: top;">
		<td style="width:20%; min-width:5cm; height:95%; padding:0.1cm;">
			<div id="layout_logo" style="
				display:block; 
				min-height:1cm; 
				margin:0px auto 10px auto;
				">
				{{ render_module( 'logo' ) }}
			</div>
			<div id="layout_authentification" style="
				display:block; 
				min-height:3.5cm; 
				overflow:auto;
				margin:0px auto 10px auto;
				">
				{{ render_module( 'authentification' ) }}
			</div>
			<div id="layout_menu" style="
				display:block; 
				min-height:7cm; 
				overflow:auto;
				margin:0px auto 10px auto;
				">
				{{ render_module( 'menu' ) }}
			</div>
			<div id="layout_calendar" style="
				display:block; 
				min-height:3.5cm; 
				overflow:auto;
				margin:0px auto 10px auto;
				">
				{{ render_module( 'calendar' ) }}
			</div>
			<div id="layout_selectlanguage" style="
				display:block; 
				min-width:5cm; 
				min-height:2cm; 
				overflow:auto;
				margin:0px auto 10px auto;
				">
				{{ render_module( 'selectlanguage' ) }}
			</div>
			</td>
		<td style="width:57%; min-width:10cm; height: 95%; padding:0.1cm;">
			<div id="layout_document" style="
				display:block; 
				min-height: 10cm; 
				height:100%;
				padding-bottom: 0px;
				margin:0px 0px 10px auto;
			">
			{{ render_module( 'document' ) }}
			</div>
		</td>
		<td style="width:20%; min-width:5cm; height: 95%; padding:0.1cm;">
			<div id="layout_quickskin" style="
			display:block; 
			min-height: 5cm; 
			height:5cm;
			overflow:auto;
			margin:0px auto 10px auto;
			">
			{{ render_module( 'quickskin' ) }}
			</div>

			<div id="layout_search" style="
			display:block; 
			min-height: 5cm; 
			height:5cm;
			overflow:auto;
			margin:0px auto 10px auto;
			">
			{{ render_module( 'search' ) }}
			</div>			
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<div id="layout_footer" style="
				display:block; 
				min-width:5cm; 
				min-height:1cm; 
				width:100%; 
				height:2cm;
				overflow:auto;
				margin:0px auto 10px auto;
				">
				{{ render_module( 'footer' ) }}
			</div>
		</td>
	</tr>
</table>

<div id="layout_tooltip" 
style="top:0px; left:0px; width:1cm; height:1cm; z-index:500;">
{{ render_module( 'tooltip' ) }}
</div>